<div class="page-composer__container__child__remove">
    <a class="badge" href="{{ blockAdmin.generateUrl('delete', { 'id': child.id }) }}">
        {{ 'composer.remove'|trans({}, 'SonataPageBundle') }} <i class="fa fa-times"></i>
    </a>
</div>