<div class="page-composer__container__child__edit" title="Block service not found.">
    <h4 class="page-composer__container__child__name">{{ block.name }}</h4>
    <i class="fas fa-exclamation-triangle"></i> {{ block.type }}

    <div class="page-composer__container__child__right">
        {% include '@SonataPage/BlockAdmin/composer_preview/remove_button.html.twig' %}
    </div>
</div>